@import url('http://fonts.cdnfonts.com/css/zakirahsbold');

body {
    font-family: 'ZakirahsBold', sans-serif;
    background: url('https://t4.ftcdn.net/jpg/02/58/59/33/360_F_258593399_SGYcrEVoy9onQt2ei65KtdbQlVHxwZFE.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: #fff;
}

h1 {
    font-size: 3rem;
    margin: 2rem;
}

html {
    display: flex;
    margin: 0;
    padding: 0;
}

div {
    position: relative;
    margin: 1rem;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.image-box {
    border: 10px outset #e0e0e0;
    margin: 1rem 3rem;
    width: 10rem;
    height: 10rem;
}

.player {
    margin: 0;
    padding: 0;
}

.row {
    flex-direction: row;
    position: relative;
}

#user {}

#computer {}

#vs {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    position: absolute;
    z-index: 1;
}