@import url('http://fonts.cdnfonts.com/css/zakirahsbold');

/* @media (max-width: 768px) {}

@media (max-width: 1200px) {} */

body {
    background: url('https://t4.ftcdn.net/jpg/02/58/59/33/360_F_258593399_SGYcrEVoy9onQt2ei65KtdbQlVHxwZFE.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100vw;
    color: #fff;
}

h1 {
    margin: 2rem;
    font-size: 2rem;
    color: red;
}

html {
    font-family: 'ZakirahsBold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

div {
    position: relative;
}

.image-box {
    margin: 1rem 3rem;
    /* size of images */
    width: 5rem;
    height: 5rem;
    position: relative;
}

/* make sure the images are centered inside the div */
#computerImage,
#playerImage {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
}

.player {
    margin: 0;
    padding: 0;
    width: 8rem;
    height: 8rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.center.column {
    min-width: fit-content;
}

.row {
    flex-direction: row;
    position: relative;
}

#choices {
    justify-content: space-evenly;
    margin: 3rem;
}

#vs {
    width: 5rem;
    height: 5rem;
    position: relative;
    z-index: 1;
}

#main-content {
    margin: 5rem 0rem;
}

#instructions,
#outcome {
    color: white;
    -webkit-text-stroke: 2px black;
}